
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}
    <script src="../../js/vendors.min.js?{{ cacheBuster }}"></script>
    <script src="../../js/scripts.min.js?{{ cacheBuster }}"></script>
	</body>
</html>
